@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

/* styles/globals.css or page-specific CSS */
html, body, #__next {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


#popup-container {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.85);
}
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}