@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

/* styles/globals.css or page-specific CSS */
html, body, #__next {
  height: 100%;
  width: 100%;
  margin: 0;
}
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}